
.container{
	width:100%;
	padding:0 15px;
	margin:0 auto;
}

@media screen and (min-width:576px){
	.container{
		max-width:540px;
	}
}

@media screen and (min-width:768px){
	.container{
		max-width:720px;
	}
}

@media screen and (min-width:992px){
	.container{
		max-width:960px;
	}
}

@media screen and (min-width:1200px){
	.container{
		max-width:1140px;
	}
}

@media screen and (min-width:2080px){
	.container{
		max-width:1980px;
	}
}














h1{color:#fff;}

hr{background-color:#fff;}
.header{
	margin:0;
	background-color: #d34346;
	padding-top: 1%;
	padding-bottom: 1%;
}

.bla{
	color:white;
    font-size: 29px;
	line-height: 1.4;
}












	/*.btn{display: block;*/
		/*width:450px;*/
		/*padding:2%;*/
		/*border:none;*/
		/*background-color:#3a425b ;*/
		/*color:#fff;*/
        /*cursor:pointer;*/
	/*}*/

	/*.btn-arrow{*/
		/*margin:3%;*/
		/*color:white;*/
	     /*}*/

	/*.li-f{*/
		/*display: inline-block;*/
		/*}*/
	/*.f-menu{*/
      /**/
		/*color:white;*/
	/*}*/
/*.ul-f{*/
	/*text-align:center;*/
	/*padding:0;*/
/*}*/








	/*NEW STYLES*/

	.bg_head{
		border-bottom: 14px solid #bd2d30;
		display: flex;
		height:60px;
		fustify-content:space-between;
		align-items:center;
		width:100%;
	}

	.logo-hd{

		display: flex;

	}

	.search{

	            margin-top:1%;
			/*!*border:1px solid white;*/
			/**!			display: inline-block;*/
		display: flex;
			
		}

		.phones{
			display: flex
			color:#fff;
			font-size: 18px;
			line-height: 17.92px;
			font-weight: 200;
			padding:0.3%;
			
		}

		.search-field{
			width:100%;
			padding:2.5%;
			border:none;
			padding-left: 8%;

		}

		.con-title{
			margin:0;
			background-color: #d34346;
			padding-top: 1%;
			padding-bottom: 1%;
			border-left:10px solid #bd2d30;
			display: flex;
			width:100%;
		} 

		.con-title-r{

			background-color: #d34346;
			padding-top: 4%;
			padding-bottom: 4%;
			border-left:10px solid #bd2d30;
	        float:left;
} 

.con-title-v{

			background-color: #d34346;
			padding-top: 1%;
			padding-bottom: 1%;
			padding-left: 4%;
			margin-left:-15px;
			
			margin-bottom:1%;
			width:105.5%;
			
			
} 

.con-title-d{

			
			padding-top: 1.5%;
			padding-bottom: 1.5%;
			padding-left: 4%;
			margin-right:-15px;
			background-color: #d34346;
			margin-bottom:1%;
			
} 



.con-title-b{
	
	background-color: #314559;
	padding-top: 4%;
	padding-bottom: 4%;

	border-left:10px solid #22303e;
	
	
} 

 .ld{margin-top:3.5%;
padding:0;

}
.blue{
	margin:0;
	background-color: #314559;
	padding-top: 1%;
	padding-bottom: 1%;
	border-left:10px solid #22303e;
	display: inline-block;
	width:100%;
} 

.bg-silver{background-color: #efefef;}    

.fa-caret-square-o-up{
	color:#bd2d30;
	float:right;
} 

.features{
	color:#22303e;
	float:right;
}                      

i.sbt {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: -30px;
	position: relative;
	z-index: 1;
	float: left;
	color:#bd2d30;
}

i.fa + input {
	padding-left: 30px;
}

.wu-row{margin:1% 0% 4% 0;

	display: inline-block;
}

.wu-li{font-size: 20px;
	margin-bottom:1.5%;
}  

.inb{display: inline-block;
	margin-top:2.0%;
	/*margin-left:-1%;*/
	background-color: #dd4549;
	padding-top:5%;
	padding-bottom: 5%;
	text-align: center;


}

.inbp{display: inline-block;
	margin-top:1.5%;
	background-color: #dd4549;
	padding-top:5%;
	padding-bottom: 5%;
	text-align: center;

	

}

.ft{
	text-align:center;
	margin-top:3%;
	margin-bottom:3%;
	padding-bottom: 3%;
	color:#d34346;
}

.tl{
	text-align:left;
	margin-top:3%;
	margin-bottom:3%;
	padding-bottom: 3%;
	color:#314559;
}
.p-features{
	text-align:left;
	color:#000;
}

.color-light-b{
	background-color: #375a7c;
}
.color-b{
	background-color: #314559;
}
.white-text{
	padding-top:2%;
	text-align:center;
	color:white;}

	.down{
		display: inline-block;
		color:#fff;
		margin-top: 3%;
		margin-bottom: 3%;
		text-align: center;
	}

.slider-bg{

		background: url("../img/slider.png")no-repeat;
		padding-left: 0px;
		position: relative;


	}

	

.btn-l, .btn-r {
	position: absolute;
	top: 40%;
	width: 35px;
	height: 35px;
	background-color:#d34346;
	color:white;
	text-align: center;
	padding-top: 8px;
}
.btn-l{left:0;}
.btn-r{right:0;}

	

	.cf-one{
		display: inline-block;
		float:left;
	}
	.cf-two{
		display: inline-block;
		float:left;
		margin-left:5%;
	}
	.h-text{
		color:black;
		font-size: 30px;
		margin-top:10%;
	}
	.l-text{
		display: inline-block;
		font-size: 16px;
		margin-top:8%;
	}
	li.menu a{
		background-color: #d34346;
		list-style-type: none;
		margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 25px; /* Отступ слева в браузере Firefox, Safari, Chrome */
        color:#fff;
        text-transform: uppercase;
        padding-top:1%;
        padding-bottom: 1%;
        border-bottom: 1px solid #bd2d30;
        display: block;
        opacity: 0.6;

	}

	ul.ul-menu{list-style-type: none;}

	li.menu a:hover{
		background-color: #d34346;
		list-style-type: none;
		margin-left: 0; /* Отступ слева в браузере IE и Opera */
        
        color:#fff;
        text-transform: uppercase;
        padding-top:1%;
        padding-bottom: 1%;
        border-left: 20px solid  #bd2d30;
		
		 text-decoration: none;




	}
	.menu-d{
		background-color: #4d5369;
		padding-left: 8%;
		padding-right: 8%;
		padding-bottom:8%;
		color:#fff;
	}
	.ul-menu{
		padding:0;
	    margin-bottom:0;}
.user{
	padding-top:8%;
	
	padding-bottom:8%;
	color:#fff;
	font-size: 18px;

}
.user-n{
	padding-right: 8%;
}
.enter{
	float:right;
    border:none;
    background-color:#d44049 ;
    color:#fff;
    padding-top:5%;
    padding-bottom:5%;
    padding-left:10%;
    padding-right:10%;
}
.cto{
	width:100%;
    margin-bottom:5%;
    padding-top:4% ;
    padding-bottom:4% ;
}
.btn-red{
	border:none;
    background-color:#d44049 ;
    color:#fff;
    padding-top:2%;
    padding-bottom:1.5%;
    padding-left:5%;
    padding-right:5%;
    font-size:20px;
}
.white{color:white;}
.in-l{
	width:45%;
    display: inline-block;
   
		padding-left: 8%;
		padding-right: 8%;
		padding-bottom:2%;
		color:#fff;
		float:left;
		margin-right: 4%;
}

.in-r{
	display: inline-block;
  width:45%;
   
		padding-left: 8%;
		padding-right: 8%;
		padding-bottom:2%;
		color:#fff;

}
.bg-blue{
	background-color: #3a425b;
	margin-bottom: 5%;
}
.bg-blue-f{
	background-color: #3a425b;
	margin-bottom: 5%;

}
.in-in{
	margin-bottom:2%;
	padding-top:2%;
	padding-bottom:2%;
}

.cal{
	background-color: #3a425b;
	width:100%;
	height:100%;
}
.calendar{
	background-color:#d34346;
}
.feature